@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Acworth';
  src: url('../public/fonts/acworth/Acworth-Bold.otf');
}
@font-face {
  font-family: 'Vistol';
  src: url('../public/fonts/vistol/VistolSans-Light.otf');
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer components {
}
