@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Acworth';
  src: url('../public/fonts/acworth/Acworth-Bold.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Mustica';
  src: url('../public/fonts/mustica/MusticaPro-SemiBold.otf');
  font-display: swap;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer components {
  .sidebar,
  .chat-screen {
    height: 92vh;
  }
  .unopenedchat {
    background-image: url('./img/webp/sallyonball.webp');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    height: 92vh;
    background-color: black;
  }

  .user-chat-screen {
    height: 600px;
  }

  /* .login-page { */
  /* background-image: url('./img/svgs/floating.svg'); */
  /* background-size: contain; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* } */
}
